@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
}

//colors
$accent-color: #27ae60;
$bg-base-color:#fff;
$border-color: #e1e7e9;
$accent-highlight-color: #229955;
$text-color: #2c3e50;

//Commonn style
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

//main layout styles
.layout--top--navbar {
  height: 64px;
  background-color: $bg-base-color;
  display: flex;
  justify-content: space-between;
  padding: 8px 30px;
  border-bottom: $border-color solid 1px;

  .brand {
    display: flex;

    span {
      padding: 12px;
      font-weight: 400;
    }
  }

  .brand h3 {
    color: $accent-color;
    background-color: black;
    height: 100%;
    width: fit-content;
    padding: 9px;
    font-weight: 500;
  }

  .profile-section {
    display: flex;
  }

  .profile-name {
    padding: 12px;
    font-weight: 500;
  }

  .profile-image {
    height: 47px;
    width: 47px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    background-color: $bg-base-color;
  }
}

.layout--side--navbar {
  position: fixed;
  height: 100%;
  padding-top: 20px;
  top: 64px;
  width: 220px;
  left: 0;
  border-right: $border-color solid 1px;

  li {
    font-size: 20px;
    cursor: pointer;

    &:hover {
      background-color: $accent-color
    }

    a {
      color: $text-color;
      text-decoration: none;
      height: 100%;
      width: 100%;
      display: block;
      padding: 15px;

      &:hover {
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

.layout--middle--section {
  margin-left: 220px;
  height: calc(100vh - 64px);
  width: 84%;
  padding: 20px;
}

.navigation--active {
  background-color: $accent-color;
}

.settings--container {
  thead {
    background-color: #ecf0f1;
  }

  .button-add {
    background-color: $accent-color;
    color: #fff;
    border-radius: 30px;
    padding: 3px 35px;
    border: 0px;

    &:hover {
      background-color: $accent-highlight-color;
    }
  }
}

.deleteIcon {
  height: 30px;
  width: 30px;
  background-color: $accent-color;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: $accent-highlight-color;
  }
}